.header-title {
  margin-left: 10px !important;
}

.header-title-container {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: bold;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
