<div class="user-profile">
  <p-card
    [header]="user.userName"
    [subheader]="user.userId"
    [style]="{ width: '360px' }"
    styleClass="p-card-shadow"
  >
    <img
      style="object-fit: contain; border-radius: 50%"
      height="150px"
      width="150px"
      alt="Card"
      [src]="user.userImage"
    />
    <p>{{ 'user.info' | translate }}</p>
    <ng-template pTemplate="footer">
      <p-button [label]="'user.play' | translate" icon="pi pi-check" (click)="play()"></p-button>
      <p-button
        [label]="'user.logout' | translate"
        icon="pi pi-times"
        styleClass="p-button-secondary"
        [style]="{ 'margin-left': '.5em' }"
        (click)="authService.SignOut()"
      ></p-button>
    </ng-template>
  </p-card>
</div>
